# Python
__pycache__/
*.py[cod]
*$py.class
venv/
scraper/venv/
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# Android
android/app/build
android/.gradle
android/local.properties

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/

# Mac
.DS_Store

# IDEs
.idea/
.vscode/
*.iml
